<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <table id="resourcesTable" style="table-layout: fixed;">
        <caption><b>Resources</b></caption>
        <tr>
          <td class="food">Food:</td>
          <td class="food values" id="food">{{resources.food}}</td>
          <td><button (click)="foodClick(1)" class="btn btn-primary btn-sm">Harvest Food</button></td>
          <td>Population:</td>
          <td class="values"><span id="currentPop"> 2</span>/<span class="totalPop">2</span> </td>
        </tr>
        <tr>
          <td class="wood">Wood:</td>
          <td class="wood values" id="wood">{{resources.wood}}</td>
          <td><button (click)="woodClick(1)" class="btn btn-primary btn-md">Chop Wood</button></td>
          <td>Employed:</td>
          <td class="values"><span id="currentPopEmployed"> 0</span>/<span class="totalPop">2</span></td>
        </tr>
        <tr>
          <td class="stone">Stone:</td>
          <td class="stone values" id="stone">{{resources.stone}}</td>
          <td><button (click)="stoneClick(1)" class="btn btn-primary btn-md">Mine Stone</button></td>
          <td>Unemployed:</td>
          <td class="values"><span id="currentPopUnemployed"> 2</span>/<span class="totalPop">2</span></td>
        </tr>
        <tr>
          <td class="water">Water:</td>
          <td class="water values" id="water">{{resources.water}}</td>
          <td></td>
        </tr>
      </table>
