<div class="container-fluid">
			<div class="row">
				<div class="col-sm-5">
					<table id="resourcesTable" style="table-layout: fixed;">
						<colgroup>
							<col span="6" style="width:100px">
						</colgroup>
						<caption><b>Resources</b></caption>
						<tr>
				<td class="food">Food:</td>
				<td class="food values" id="food">0</td>
				<td class="farmers">Farmers:</td>
				<td class="farmers values" id="farmers">0</td>
				<td>Population:</td>
				<td class="values"><span id="currentPop"> 2</span>/<span class="totalPop">2</span> </td>
				<!--<td style="width:150px">New Settler: <span id="minutes">1</span>:<span id="seconds">00</span></td>-->
			</tr>
			<tr>
				<td class="wood">Wood:</td>
				<td class="wood values" id="wood">0</td>
				<td class="lumberjacks">Lumberjacks:</td>
				<td class="lumberjacks values" id="lumberjacks">0</td>
				<td>Employed:</td>
				<td class="values"><span id="currentPopEmployed"> 0</span>/<span class="totalPop">2</span></td>


			</tr>
			<tr>
				<td class="stone">Stone:</td>
				<td class="stone values" id="stone">0</td>
				<td class="miners">Miners:</td>
				<td class="miners values" id="miners">0</td>
				<td>Unemployed:</td>
				<td class="values"><span id="currentPopUnemployed"> 2</span>/<span class="totalPop">2</span></td>


			</tr>

			<tr>
				<td class="water">Water:</td>
				<td class="water values" id="water">100</td>
				<td class="breeders">Breeders:</td>
				<td class="breeders values" id="breeders">0</td>
				<td></td>
			</tr>
		</table>
			<hr/>
